body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    margin-top: 20px;
}
.section {
    margin-top: 10px;
}
.subsection {
    margin-top: 5px;
    margin-left: 20px;}




  /* i think by mistake you forgot to link your css with your html, but  now it's done .*/